- content_for :gmaps_js do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Shitholes::Application.config.google_api_key}&sensor=true"
  = javascript_include_tag 'googlemaps/googlemaps'
  :javascript
    $(function() {
      window.#{action_name}_map();
    });

- unless @toilet.nil?
  #map-canvas{:data => {:latitude => @toilet.lat, :longitude => @toilet.lng}}
- else
  #map-canvas
