= link_to t('.review', :shithole => t("activerecord.models.toilet", :count => 1)), new_toilet_path, :class => 'btn'
= link_to t('.find', :shithole => t("activerecord.models.toilet", :count => -1)), nearby_toilets_path, :class => 'btn'
